body {
    background-image: url("https://thumbs.gfycat.com/EagerGentleAxolotl-max-1mb.gif");
    background-size: 100% 1000px;
}

#starWarsImg {
    width: 15%;
    display: block;
    margin: auto;
    margin-top: 140px;
}

#center {
    width: 40%;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(51, 50, 50);
    border-radius: 20px;
}

#query {
    display: block;
    width: 93%;
    height: 60px;
    margin: auto;
    background-color: rgb(51, 50, 50);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    outline: none;
}

#resultsDiv {
    border-top: 1px solid #000;
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    max-height: 300px;
    overflow: scroll;
}

#resultsDiv::-webkit-scrollbar {
    width: 0px !important;
}

#resultsDiv {
    overflow: -moz-scrollbars-none;
}

#resultsDiv {
    -ms-overflow-style: none;
}

#results {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    cursor: pointer;
}

#name {
    margin-left: 10px;
}

#name:hover {
    color: yellow;
}

#birth_year {
    margin-top: 10px;
    margin-left: 10px;
}

#gender {
    margin-right: 10px;
}

#nofoundDiv {
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}